section {
	padding-top: pxToRem(50);
	padding-bottom: pxToRem(50);
}

.about {
	p {
		font-size: pxToRem(18);
	}
	&__cta-box {
		margin: pxToRem(25) 0;
	}
}

.work {
	background-color: $body-bg-dark;
}

.counter {
	padding: pxToRem(80) 0;
	background-image: linear-gradient(
			to right,
			rgba($color-black, 0.6),
			rgba($color-black, 0.6)
		),
		url(/img/counter-bg-sm.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: $color-text-white;
	text-transform: uppercase;
	text-align: center;
	font-weight: 300;

	&__box {
		box-shadow: 0 0 pxToRem(8) 0 rgba($color-black, 0.2);
		border-radius: 5px;
		background-color: rgba($color-white, 0.15);
		backdrop-filter: blur(5px);
		max-width: pxToRem(300);
		padding: pxToRem(16);
		margin: 0 auto pxToRem(16);
		transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;

		@include hover-focus-active {
			box-shadow: 0 0 pxToRem(10) 0 rgba($color: $color-black, $alpha: 0.3);
			transform: translateY(pxToRem(-5));
		}
	}

	&__icon-box {
		margin-bottom: pxToRem(8);
	}
	&__icon {
		width: pxToRem(64);
		height: pxToRem(64);
	}
	&__count {
		line-height: 1.2;
		font-size: pxToRem(48);
		margin-bottom: pxToRem(8);
	}

	&__title {
		font-size: pxToRem(20);
	}
}

.contact {

	.form-group .form-control {
		min-height: pxToRem(40);
		&:focus {
			border: 1px solid rgba($color-primary, 0.3);
			box-shadow: 0 0 pxToRem(5) 0 rgba($color-primary, 0.2);
		}
	}
}

.blog-section {
	background-color: $body-bg-dark;
}
