// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer {
	padding-top: pxToRem(70);
	background-image: linear-gradient(
			to top,
			rgba($color-black, 0.5),
			rgba($color-black, 0.5)
		),
		url('/img/bg/footer-bg-lg.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	overflow: auto;

	&__social-heading {
		text-transform: uppercase;
		color: $color-text-white;
	}

	&__nav {
		border-top: 1px solid $color-grey-dark-4;
		a.nav-link {
			padding: pxToRem(10) pxToRem(16);
			border-bottom: 1px solid transparent;
			color: $color-text-white;
			text-transform: uppercase;
			@include hover-focus-active {
				color: $color-text-white;
				text-decoration: underline;
			}
			&.active {
				color: $color-text-white;
			}
		}
	}

	&__credits {
        a {
            color: $color-text-white;
            border-bottom: 1px solid $color-text-white;
        }
        margin-bottom: pxToRem(14px);
		color: $color-text-white;
	}

}
