.project {
	display: block;
	overflow: hidden;
	border: 1px solid $color-grey-light-3;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
	box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.075);
	transition: box-shadow 0.15s ease-in-out, border 0.15s ease-in-out;
	max-width: 50rem;
	margin: 0 auto;

	@include hover-focus-active {
		box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.075);
		border-color: $color-grey-light-4;
	}

	&__img-box {
		cursor: pointer;
		background-color: #000;
		overflow: hidden;
	}
	&__img {
		// transform: scale(1.2);
		// transition: opacity .5s, transform .5s;
		// @include hover {
		//     transform: scale(1);
		//     opacity: 1;
		// }
		// opacity: 0.8;
	}

	&__content-box {
		padding: 2rem;
	}
	&__cta-box {
		margin-top: 2rem;
	}
}
