.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    &__link {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: pxToRem(5);
        opacity: .8;
    }

    &__icon {
        width: pxToRem(24);
        height: pxToRem(24);
        fill: $color-white;
    }
    &--vertical {
        flex-direction: column  ;
    }
}