$html-font-size: 16px;

// Strip units like 'px' from value
@function stripUnit($value) {
    @return $value / ($value * 0 + 1);
}

// Convert pixels to rems
@function pxToRem($pxValue) {
    @return #{stripUnit($pxValue) / stripUnit($html-font-size)}rem;
}
