$color-primary: #4cd137;
$color-primary-dark: #3fbb2b;
$color-primary-light: #65d753;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eeeeee;
$color-grey-light-3: #dadada;

$color-grey-dark-1: #999999;
$color-grey-dark-2: #777777;
$color-grey-dark-3: #333333;

$color-text: $color-grey-light-2;

$color-white: #fff;
$color-black: #000;


